@import './layout/fonts.css';
@import './layout/base.css';
@import './layout/reset_styles.css';
@import './layout/normolize.css';
.hero {
  background: url("../img/icons/main-page/tracery.png") right bottom no-repeat;
  background-color: #61C4D9;
  position: relative;
  height: 100vh;
  min-height: 650px;
  position: relative;
}
.hero:before {
  position: absolute;
  content: url("../img/icons/main-page/leaf3.png");
  bottom: -40px;
  left: 2%;
}
.hero:after {
  position: absolute;
  content: url("../img/icons/main-page/berries.png");
  bottom: -40px;
  right: 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px 0;
  background: url("../img/icons/main-page/bars.png") right center/50% auto no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.logo {
  margin-right: 42px;
}

.navbar {
  flex: 1;
  margin-right: 42px;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
}

.phone-number {
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.phone-number--theme--green {
  color: #365A49;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
}

.phone-number__icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.phone-number__text {
  display: inline-block;
}

.hero-title {
  width: 353px;
  margin-bottom: 64px;
}

.hero-title__title {
  margin: 0 0 17px 0;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-title__subtitle {
  font-size: 21px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 32px;
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-title__btn {
  background: #fff;
  color: #365A49;
}
.hero-title__btn:hover {
  background: #365A49;
  color: #fff;
}

.order-form-btn {
  background: #365A49;
  color: #fff;
}
.order-form-btn:hover {
  background: #fff;
  color: #365A49;
}

.order-form-reset {
  background: transparent;
  color: #365A49;
}

.leaf {
  position: absolute;
  right: 0;
  top: 0;
}

.bars {
  position: absolute;
  right: 23px;
  top: 54px;
}

.leaf-1 {
  position: absolute;
  right: 11px;
  bottom: 111px;
}

.leaf-2 {
  position: absolute;
  right: 279px;
  bottom: -31px;
}

.leaf-3 {
  position: absolute;
  bottom: -32px;
  left: 37px;
}

.berries-1 {
  position: absolute;
  right: 256px;
  bottom: 36px;
}

.berries-2 {
  position: absolute;
  right: 91px;
  bottom: -46px;
}

.sidebar {
  position: absolute;
  right: 50px;
  top: 210px;
  z-index: 10;
}
.sidebar__icon {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
}
.advantages__icon {
  display: block;
  width: 100%;
  overflow: hidden;
}

.advantages__icon-wrapper {
  margin-right: 15px;
  max-height: 40px;
  max-width: 40px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.advantages__item {
  display: flex;
  align-items: center;
}

.advantages__text {
  max-width: 70px;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  line-height: 1.1;
}

.headline__subtitle {
  color: #000;
}

.section--font-color--green {
  color: #1f5c14;
}

.benefits-section {
  position: relative;
  background: url("../img/icons/why-page/leaf4.png") left top 57% no-repeat;
}
.benefits-section:before {
  content: url("../img/icons/why-page/raspberry.png");
  position: absolute;
  bottom: -80px;
  left: 0;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 75px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.benefit__image {
  margin-bottom: 19px;
}

.benefit__desc p {
  color: #666666;
  font-size: 18px;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../img/icons/why-page/separator.png");
  position: absolute;
  top: 30px;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.headline {
  text-align: center;
  margin-bottom: 51px;
}

.headline__title {
  margin-bottom: 7px;
}

.headline__subtitle {
  padding: 0 26%;
  color: #666666;
  font-size: 18px;
}

.leaf-4 {
  position: absolute;
  top: 172px;
  left: 0;
}

.raspberry {
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: -107px;
}

.reviews-section {
  background: url("../img/icons/review-page/strawberry.png") right 20px top 10px no-repeat;
  position: relative;
}
.reviews-section:before {
  content: url("../img/icons/review-page/leaf.png");
  position: absolute;
  bottom: -162px;
  left: 0;
}
.reviews-section:after {
  content: url("../img/icons/review-page/berries.png");
  position: absolute;
  bottom: -90px;
  left: 0;
}

.reviews__display {
  padding: 50px 45px 34px;
  background: #f8faf9 url("../img/icons/review-page/flowers.png") right top no-repeat;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -65px;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 254px;
  height: 260px;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 17px;
  padding-right: 10%;
  padding-top: 8px;
}

.reviews__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 22px;
  color: black;
}

.reviews__text {
  margin-bottom: 36px;
}
.reviews__text p {
  color: #666666;
  font-size: 18px;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  background: url("../img/icons/order-page/blackberry.png") bottom 14% left 2% no-repeat, url("../img/icons/order-page/leaf.png") right 1% bottom 16% no-repeat, url("../img/icons/order-page/order-bg.jpg") center center/cover no-repeat;
  font-size: 18px;
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  margin-right: 22px;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icons/order-page/check.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.radio__visible:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__controls {
  margin-bottom: 8px;
}

.form__btns {
  margin-top: 40px;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 18px;
}

.form__block {
  flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 16px 11px;
  border: solid 3px transparent;
}
.form__input--textarea {
  height: 180px;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.contacts {
  font-style: normal;
  font-size: 20px;
  color: #010101;
}

.contacts__phone {
  color: green;
}

.map-section {
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/icons/map-section/map.jpg") center center/cover no-repeat;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.phone-number {
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.phone-number--theme--green {
  color: #365A49;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
}

.phone-number__icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.phone-number__text {
  display: inline-block;
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 20px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
}
.socials__link:hover .socials__icon {
  opacity: 1;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #000;
  opacity: 0.3;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 23px 0;
  background: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
