@import './layout/fonts.css';
@import './layout/reset_styles.css';
@import './layout/normolize.css';
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
}

body {
  /*background-color: #001821;*/
  color: #ffffff;
  font-family: "AlegreyaSans", Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*position: relative;*/
}

a {
  color: #ffffff;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  /*display: flex;*/
  /*flex-direction: column;*/
  position: relative;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

.why-section {
  position: relative;
}

.order-section {
  position: relative;
  background: #F8FAF9;
}

.body--active-menu {
  overflow: hidden;
}

.hero {
  background: url("../img/icons/main-page/tracery.png") right bottom no-repeat;
  background-color: #61C4D9;
  position: relative;
  height: 100vh;
  min-height: 36.1111111111rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 62%;
  }
}
.hero:before {
  position: absolute;
  content: url("../img/icons/main-page/leaf3.png");
  bottom: -2.2222222222rem;
  left: 2%;
}
.hero:after {
  position: absolute;
  content: url("../img/icons/main-page/berries.png");
  bottom: -2.2222222222rem;
  right: 0;
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.7777777778rem 0;
  background: url("../img/icons/main-page/bars.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4.4444444444rem;
}

.logo {
  margin-right: 2.3333333333rem;
}

.navbar {
  flex: 1;
  margin-right: 2.3333333333rem;
  padding-top: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}

.navbar__list {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  flex-wrap: wrap;
}

.navbar__item {
  margin-right: 1.5rem;
}

.navbar__item:last-child {
  margin-right: 0;
}

.navbar--burger {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #313131;
  margin: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
}
.navbar--burger .navbar__list {
  flex-direction: column;
}
.navbar--burger .navbar__item {
  margin: 0 0 1.1111111111rem 0;
  text-align: center;
}
.navbar--burger .navbar__link {
  font-size: 2rem;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.phone-number--theme--green {
  color: #365A49;
}

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
}

.phone-number__icon {
  display: inline-block;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.phone-number__text {
  display: inline-block;
  white-space: nowrap;
}

.hero-title {
  width: 46%;
  margin-bottom: 3.5555555556rem;
}
@media screen and (max-width: 768px) {
  .hero-title {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero-title:before {
    content: "";
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    background: url("../img/icons/main-page/bars-full-pic.png") center center/contain no-repeat;
    margin-bottom: 0.8888888889rem;
  }
}

.hero-title__title {
  margin: 0 0 0.9444444444rem 0;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-title__subtitle {
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem;
  font-weight: 300;
  margin-bottom: 1.7777777778rem;
  padding-right: 15%;
}
@media screen and (max-width: 768px) {
  .hero-title__subtitle {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero-title__subtitle {
    padding: 0 15%;
  }
}

.btn {
  display: inline-block;
  padding: 1.1111111111rem 2.2222222222rem;
  border-radius: 5.5555555556rem;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-title__btn {
  background: #fff;
  color: #365A49;
}
.hero-title__btn:hover {
  background: #365A49;
  color: #fff;
}

.order-form-btn {
  background: #365A49;
  color: #fff;
}
.order-form-btn:hover {
  border: 1px solid #365A49;
  background: #fff;
  color: #365A49;
}

.order-form-reset {
  background: transparent;
  color: #365A49;
  font-weight: 400;
  text-transform: none;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 4%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border: 0.0555555556rem solid #fff;
}
.fixed-menu__item:hover .fixed-menu__link {
  transition: all 0.3s;
  border: 0.0555555556rem solid #fff;
}

.fixed-menu__link {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 0.0555555556rem solid transparent;
  border-radius: 50%;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .advantages {
    display: none;
  }
}

.advantages__icon {
  display: block;
  width: 100%;
  overflow: hidden;
}

.advantages__icon-wrapper {
  margin-right: 0.8333333333rem;
  max-height: 2.2222222222rem;
  max-width: 2.2222222222rem;
  overflow: hidden;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  width: 27.7777777778rem;
}

.advantages__item {
  display: flex;
  align-items: center;
}

.advantages__text {
  max-width: 3.8888888889rem;
}

.advantages__svg-icon {
  width: 40px;
  height: 40px;
  fill: #fff;
}

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.burger {
  display: none;
  position: fixed;
  top: 3%;
  right: 5%;
  height: 25px;
  width: 35px;
  cursor: pointer;
  z-index: 15;
  transition: all 0.4s;
}
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}
.burger__line {
  width: 100%;
  height: 4px;
  border-radius: 10px;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  transition: all 0.4s;
}
.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
  top: initial;
}

.content {
  background-color: black;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.menu__item {
  font-size: 36px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__item:last-child {
  margin-bottom: 0;
}
.menu__link:hover {
  opacity: 0.7;
}

.burger--active .burger__line:nth-child(1) {
  opacity: 0;
}
.burger--active .burger__line:nth-child(2) {
  transform: rotate(45deg);
}
.burger--active .burger__line:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px) translateX(5px);
}

.overlay--active {
  left: 0;
  opacity: 1;
}

.body--active-menu {
  overflow: hidden;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.7777777778rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  line-height: 1.1;
}

.headline__subtitle {
  color: #000;
}

.section--font-color--green {
  color: #1f5c14;
}
.section--font-color--green .section__title {
  color: inherit;
}

.benefits-section {
  position: relative;
  background: url("../img/icons/why-page/leaf4.png") left top 57% no-repeat;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 5%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section:before {
  content: url("../img/icons/why-page/raspberry.png");
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5555555556rem;
  color: #000;
}

.benefit__image {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
  }
}

.benefit__desc p {
  color: #666666;
  font-size: 1rem;
}

@media screen and (max-width: 480px) {
  .benefit__text {
    margin-left: 1.1111111111rem;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.9444444444rem;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}
.benefits__item:before {
  content: url("../img/icons/why-page/separator.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.headline {
  text-align: center;
  margin-bottom: 2.8333333333rem;
}

.headline__title {
  margin-bottom: 0.3888888889rem;
}

.headline__subtitle {
  padding: 0 26%;
  color: #666666;
  font-size: 1rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0;
  }
}

.reviews-section {
  background: url("../img/icons/review-page/strawberry.png") right 1.1111111111rem top 0.5555555556rem no-repeat;
  position: relative;
}
.reviews-section:before {
  content: url("../img/icons/review-page/leaf.png");
  position: absolute;
  bottom: -9rem;
  left: 0;
}
.reviews-section:after {
  content: url("../img/icons/review-page/berries.png");
  position: absolute;
  bottom: -5rem;
  left: 0;
}

.reviews__display {
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  background: #f8faf9 url("../img/icons/review-page/flowers.png") right top no-repeat;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.6111111111rem;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 1.6666666667rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 0.9444444444rem;
  padding-right: 10%;
  padding-top: 0.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    padding-top: 0;
    padding-right: 0;
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: black;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: 0.8888888889rem;
  }
}

.reviews__text {
  margin-bottom: 2rem;
}
.reviews__text p {
  color: #666666;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 0.8888888889rem;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item:hover {
  border-color: #0f5a47;
}

.reviews__item {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}

.reviews__item--active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__list {
  position: relative;
  min-height: 15.5555555556rem;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 480px) {
  .interactive-avatar {
    border: 0.26rem solid transparent;
  }
}
.interactive-avatar--active {
  border-color: #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  background: url("../img/icons/order-page/blackberry.png") bottom 14% left 2% no-repeat, url("../img/icons/order-page/leaf.png") right 1% bottom 16% no-repeat, url("../img/icons/order-page/order-bg.jpg") center center/cover no-repeat;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .order-section {
    background: url("../img/icons/order-page/order-bg.jpg") center center/cover no-repeat;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  margin-right: 1.2222222222rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 5px;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icons/order-page/check.png") center center no-repeat;
}
@media screen and (max-width: 768px) {
  .radio--checkbox {
    padding-top: 0.9444444444rem;
  }
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__controls {
  margin-bottom: 0.4444444444rem;
}

.form__btns {
  margin-top: 2.2222222222rem;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 16%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .form__col:last-child {
    margin-bottom: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 0.8888888889rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
  justify-content: center;
}

.contacts {
  font-style: normal;
  font-size: 1.1111111111rem;
  color: #010101;
}
@media screen and (max-width: 480px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5555555556rem;
  }
}

.contacts__phone {
  color: green;
}

.map-section {
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/icons/map-section/map.jpg") center center/cover no-repeat;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.phone-number--theme--green {
  color: #365A49;
}

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
}

.phone-number__icon {
  display: inline-block;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.phone-number__text {
  display: inline-block;
  white-space: nowrap;
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 1.1111111111rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
}
.socials__link:hover .socials__icon {
  opacity: 1;
}

.socials__icon {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  opacity: 0.3;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.arrow {
  width: 0.7777777778rem;
  height: 1.5rem;
  cursor: pointer;
}

.arrow--left {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
}

.arrow--right {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
}

.arrow--left-icon {
  transform: rotate(180deg);
}

.slider-section {
  background-color: #F8FAF9;
}

.slider-container {
  position: relative;
  padding: 0 40px;
}

.slider-desc {
  max-width: 20.4444444444rem;
}
@media screen and (max-width: 768px) {
  .slider-desc {
    max-width: 29.3333333333rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.slider-desc__title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 1.3888888889rem;
  line-height: 2.3888888889rem;
}
@media screen and (max-width: 768px) {
  .slider-desc__title {
    text-align: center;
    font-size: 1.6666666667rem;
    margin-bottom: 0.7777777778rem;
  }
}

.slider-desc__subtitle {
  color: #666666;
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .slider-desc__subtitle {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .slider-desc__subtitle {
    padding: 0 40px;
  }
}

.slider-desc__props {
  max-width: 13.0555555556rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .slider-desc__props {
    padding-right: 1.6666666667rem;
    max-width: 100%;
  }
}

.slider-desc__props-col {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .slider-desc__props-col {
    margin-right: 2.7777777778rem;
  }
  .slider-desc__props-col:last-child {
    margin-right: 0;
  }
}

.slider-desc__props-name {
  color: #666666;
}

.slider-desc__props-value {
  color: #000;
  font-weight: 700;
}

.slider-desc__price-section {
  display: flex;
  align-items: center;
}

.slider-desc__price {
  display: inline-block;
  font-size: 3.3333333333rem;
  color: #151515;
  height: 5rem;
  margin-right: 1.6666666667rem;
}

.slider__list {
  display: flex;
  height: 100%;
  width: auto;
  transition: 0.3s ease all;
}

.slider__wrapper {
  max-width: 940px;
  height: 100%;
  overflow: hidden;
}

.slider__item {
  width: 100%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .slider__item {
    display: flex;
    flex-direction: column;
  }
}

.slider__item-img-wrapper {
  flex: 1;
  min-width: 250px;
}

.slider__item-img {
  width: 100%;
}

.dropdown__icon-wrapper {
  background: #86C3D7;
  width: 5rem;
  height: 5rem;
  border-radius: 0.2222222222rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2777777778rem;
}
.dropdown__icon-wrapper:hover {
  background: #60AACC;
}
@media screen and (max-width: 768px) {
  .dropdown__icon-wrapper {
    display: none;
  }
}

.dropdown__title {
  text-transform: uppercase;
  font-size: 0.7777777778rem;
}

.dropdown__icon {
  width: 2.5555555556rem;
  height: 2.5555555556rem;
  margin-bottom: 0.2777777778rem;
}

.dropdown__item-icon-wrapper {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}

.dropdown__item-icon {
  width: 100%;
}

.dropdown {
  position: relative;
  width: 5rem;
}
.dropdown:hover .dropdown__menu {
  right: -15.1666666667rem;
  top: 0;
  opacity: 0.9;
}

.dropdown__item {
  display: flex;
  margin-bottom: 1.3888888889rem;
}
.dropdown__item:last-child {
  margin-bottom: 0;
}

.dropdown__item-name {
  flex: 1;
  padding-left: 1.3888888889rem;
  font-weight: 700;
}

.dropdown__item-weight {
  font-weight: 700;
}

.dropdown__menu {
  padding: 1.3888888889rem 1.6666666667rem 0.5555555556rem 1.6666666667rem;
  color: #000;
  width: 15.1666666667rem;
  background: #fff;
  position: absolute;
  right: 555.5rem;
  transition: opacity 0.2s;
  opacity: 0;
  z-index: 20;
}

.accordion-section {
  color: #292929;
  width: 221px;
}

.accordion-section__header {
  cursor: pointer;
  font-size: 1.1666666667rem;
  font-weight: 700;
}

.accordion-section__text {
  color: #666666;
  font-weight: 300;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 1s ease;
}

.team {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    flex-wrap: wrap;
    padding: 0 10%;
    margin-left: -20px;
  }
}
@media screen and (max-width: 480px) {
  .team {
    margin-left: -70px;
  }
}

.team__item {
  flex: 1;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}
.team__item.active .team__title:after {
  content: "";
  transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
  .team__item {
    flex: initial;
    width: calc(100% / 2 - 20px);
    margin-right: 0px;
    margin-left: 20px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .team__item {
    width: 50%;
    margin-left: 70px;
  }
}
.team__item:last-child {
  margin-right: 0;
}

.team-version-mobile .team__item {
  margin-bottom: 15px;
}

.team__member {
  height: 288px;
  margin-bottom: 20px;
}

.team-version-mobile .team__member {
  height: 180px;
  width: 138px;
}

.team__member-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 32px;
}

.team__title {
  color: #323232;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  width: 100%;
  background: #fff;
}
.team__title:after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 4px;
  border-left-width: 4px;
  border-top: 6px solid black;
  border-bottom: 0;
  display: block;
  margin-left: 5px;
}

.team-version-mobile .team__title {
  font-weight: 700;
}

.team-version-desktop .team__title {
  margin-left: 30px;
  margin-bottom: 15px;
}

.team__content {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s;
}

.team-version-desktop .team__content {
  margin-left: 47px;
}

.team__content-text {
  font-weight: 300;
  color: #000;
}

.team__occ {
  color: #281e1e;
}

.team-version-mobile .team__occ {
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .team-version-desktop {
    display: none;
  }
}

.team-version-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .team-version-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #313131;
}

.modal-content {
  position: relative;
  height: 180px;
  width: 310px;
  border: 1px solid #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 100%;
  height: 100%;
}

.modal__title {
  color: #000;
  margin-bottom: 18px;
}

/*# sourceMappingURL=main.css.map */
