@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
.accordion {
  background: url("../img/icons/acc-page/acc-menu.jpg") center center/cover no-repeat; }
.accordion__container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
  }
}
.accordion__slide-title {
  position: absolute;
  z-index: 10;
  margin-top: 115px;
  margin-left: 84px;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
  @include phones {
    margin-left: 10px;
  }

}
.accordion__slide-title-container {
  position: relative;
  height: 100%;
  width: 50%;


  @include tablets {
    width: 0%;
  }
}
.accordion__slide-tabs {
  width: 50%;
  height: 100%;

  display: flex;

  align-items: flex-end;

  justify-content: flex-end;

  @include tablets {
    width: 100%;
  }
}



