.accordion-section {
  color: #292929;
  width: 221px;
}

.accordion-section__header {
  cursor: pointer;
  font-size: rem(21px);
  font-weight: 700;
}
.accordion-section__position {

}

.accordion-section__text {
  color: #666666;
  font-weight: 300;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 1s ease;
}
.accordion-section__body {

}
