.advantages {
  @include tablets {
    display: none;
  }
}
.advantages__icon {
  display: block;
  width: 100%;
  overflow: hidden;
}
.advantages__icon-wrapper {
  margin-right: rem(15px);
  max-height: rem(40px);
  max-width: rem(40px);
  overflow: hidden;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  width: rem(500px);
}
.advantages__item {
  display: flex;
  align-items: center;
}
.advantages__text {
  max-width: rem(70px);
}
.advantages__svg-icon {
  width: 40px;
  height: 40px;
  fill: #fff;
}