.arrow {
  width: rem(14px);
  height: rem(27px);
  cursor: pointer;

}
.arrow--left {
  position: absolute;
  top: 41%;
  left: 5%;
  z-index: 10;
}
.arrow--right {
  position: absolute;
  top: 41%;
  right: 5%;
}
.arrow--left-icon {
  transform: rotate(180deg);

}
.arrow--right-icon {

}