.arrow {
  width: rem(14px);
  height: rem(27px);
  cursor: pointer;


}
.arrow--left {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  @include tablets {
    left: 80px;
  }
  @include phones {
    left: 0;
  }

  //@include tablets {
  //  top: 41.2%;
  //  left: 10%;
  //}
}
.arrow--right {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  @include tablets {
    right: 80px;
  }
  @include phones {
    right: 0;
  }
}
.arrow--left-icon {
  transform: rotate(180deg);


}
.arrow--right-icon {

}