.benefits-section {
  position: relative;
  background: url("../img/icons/why-page/leaf4.png") left top 57% no-repeat;
  @include tablets {
    background-position: left top 5%;
  }

  &:before {
    content: url("../img/icons/why-page/raspberry.png");
    position: absolute;
    bottom: rem(-80px);
    left: 0;
  }
}