.btn {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 100px;

  text-transform: uppercase;
  font-weight: 700;

}
.hero-title__btn {
  background: #fff;
  color: #365A49;
  &:hover {
    background: #365A49;
    color: #fff;
  }
}