.dropdown__icon-wrapper {
  background: #86C3D7;
  width: rem(90px);
  height: rem(90px);
  border-radius: rem(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(23px);

  &:hover {
    background: #60AACC;
  }

  @include tablets {
    display: none;
  }
}
.dropdown__title {
  text-transform: uppercase;
  font-size: rem(14px);

}
.dropdown__icon {
  width: rem(46px);
  height: rem(46px);
  margin-bottom: rem(5px);

}
.dropdown__item-icon-wrapper {
  width: rem(20px);
  height: rem(20px);
}
.dropdown__item-icon {
  width: 100%;
}
.dropdown {
  position: relative;
  width: rem(90px);

  &:hover .dropdown__menu{
    right: rem(-273px);
    top: 0;
    opacity: 0.9;
  }

}
.dropdown__item {
  display: flex;
  margin-bottom: rem(25px);
  &:last-child {
    margin-bottom: 0;
  }

}
.dropdown__item-name {
  flex: 1;
  padding-left: rem(25px);
  font-weight: 700;
}
.dropdown__item-weight {
  font-weight: 700;
}

.dropdown__menu {
  padding: rem(25px) rem(30px) rem(10px) rem(30px);
  color: #000;
  width: rem(273px);
  //height: rem(344px);
  background: #fff;
  position: absolute;
  right: rem(9999px);
  transition: opacity 0.2s;
  opacity: 0;
  z-index: 20;


  //opacity: 0.3;

}