.fixed-menu {
  position: fixed;
  top: 20%;
  right: 4%;
  @include tablets {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: rem(5px);
  &--active {
    .fixed-menu__link {
      border: rem(1px) solid #fff;
    }
  }

}

.fixed-menu__link {
  display: block;
  width: rem(18px);
  height: rem(18px);
  border: rem(1px) solid transparent;
  border-radius: 50%;
  position: relative;


  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;

  }
}