.headline {
  text-align: center;
  margin-bottom: rem(51px);
}

.headline__title {
  margin-bottom: rem(7px);
}

.headline__subtitle {
  padding: 0 26%;
  color: #666666;
  font-size: rem(18px);
  @include phones {
    padding: 0;
  }
}
