.leaf {
  position: absolute;
  right: 0;
  top: 0;

}
.bars {
  position: absolute;
  right: 23px;
  top: 54px;
}
.leaf-1 {
  position: absolute;
  right: 11px;
  bottom: 111px;
}
.leaf-2 {
  position: absolute;
  right: 279px;
  bottom: -31px;
}
.leaf-3 {
  position: absolute;
  bottom: -32px;
  left: 37px;
}
.berries-1 {
  position: absolute;
  right: 256px;
  bottom: 36px;
}
.berries-2 {
  position: absolute;
  right: 91px;
  bottom: -46px;
}