.modal {
  &.error-modal {
    .moda.__content {
      color: red;
    }
  }
  &.fancybox-content {
    padding-left: 0 !important;
  }

  .fancybox-button {
    display: none;
  }
}

.modal__container {
  background: #fff;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  margin-bottom: 15px;
  color: #000;
}