.navbar {
  flex: 1;
  margin-right: rem(42px);
  padding-top: rem(4px);


  @include tablets {
    display: none;
  }

}
.navbar__list {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  flex-wrap: wrap;

}
.navbar__item {
  margin-right: rem(27px);

}
.navbar__item:last-child {
  margin-right: 0;
}
.navbar--burger {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #313131;
  margin: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;


  .navbar__list {
    flex-direction: column;
  }
  .navbar__item {
    margin: 0 0 rem(20px) 0;
    text-align: center;
  }
  .navbar__link {
    font-size: rem(36px);
  }




}
