.navbar {
  flex: 1;
  margin-right: rem(42px);
  padding-top: rem(4px);


  @include tablets {
    display: none;
  }

}
.navbar__list {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  flex-wrap: wrap;

}
.navbar__item {
  margin-right: rem(27px);
}
.navbar__item:last-child {
  margin-right: 0;
}