.phone-number {
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;

  &--theme--green {
    color: #365A49;
  }
}
.header__phone-number {
  @include tablets {
    display: none;
  }
}

.phone-number__icon-elem {
  width: rem(12px);
  height: rem(12px);

}
.phone-number__icon {
  display: inline-block;
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
}
.phone-number__text {
  display: inline-block;

}