
.sizes {
  height: 100%;
}
.sizes__list {

  display: flex;
  list-style: none;

  align-items: flex-end;

  justify-content: flex-end;
  height: 100%;
  margin: 0;
  padding: 0;
}
.sizes__item {
  z-index: 20;
  position: relative;
  min-width: 90px;
  height: 100%;
  cursor: pointer;

  display: flex;
}

.sizes__item-title {
  filter: brightness(20%);
  position: relative;
  min-width: 90px;
  height: 100%;

}

.sizes__item-title_milk {
  background: url("../img/icons/acc-page/coco.jpg") center center/cover no-repeat;

}
.sizes__item-title_breakfast {
  background: url("../img/icons/acc-page/breakfast.jpg") center center/cover no-repeat;

}
.sizes__item-title_berries {
  background: url("../img/icons/acc-page/berries.jpg") center center/cover no-repeat;

}
.sizes__item-title span {
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotateZ(-90deg);
  transform-origin: 0 0;
  white-space: nowrap;
  line-height: 80px;
}
.sizes__item-description {
  background: rgba(51, 53, 55, 0.9);
  max-width: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
}
.sizes__item-description_active {
  max-width: 524px;
  opacity: 1;
  visibility: visible;
}
.sizes__item-description p {
  padding: 31px 38px;
  font-size: 16px;
  color: #ffffff;
}